<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HSDC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/list">List 📜</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/write">Write ✏️</a>
          </li>
          <% if (!user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signin">Sign in</a>
          </li>
            <% } %>
          <% if (user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          <% } %>
          <li class="nav-item">
            <p class="nav-link"><%= user ? user.username : ''%></p>
          </li>
        </ul>
      </div>
    </div>
  </nav>